<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
    <!-- <script>
      // Initialize and add the map
      const data = async () => {
        const getData = await fetch('http://localhost:3000/api/map/');
        const locations = await getData.json();
        console.log(locations);

        async function initMap() {
          // The location of Uluru
          const uluru = { lat: -25.344, lng: 131.031 };
          // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru,
          });
          // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
            position: uluru,
            map: map,
          });
        }
        window.initMap = initMap;
      };
    </script> -->
  </head>
  <body>
    <h3>My Google Maps</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSrTFUr4w5jLye-MIsNMvp0x2m8PG5Zoo&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>
